.text-header {
  font-size: 24px;
  font-weight: bold;
}

.text-header-2 {
  font-size: 24px;
  margin-bottom: 10px;
  
  span {
    padding: 10px;
  }

  .child-1 {
    background-color: rgba(111, 111, 111, 0.6);
    color: #000;
  }
  .child-2 {
    padding-left: 10px;
    background-color: #000;
    color: #fff;
  }
}

.page-header {
  line-height: 48px;
  font-size: 28px;
  background-color: #000;
  color: #fff;
  padding: 5px;
}

.page-header-container {
  border-bottom: 5px solid #959595;
}

.page-header-2 {
  // line-height: 48px;
  font-size: 28px;
  background-color: #959595;
  color: #fff;
  padding: 5px;
}

/**
 * Feature Box
 */
.features-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  .feature-item {
    flex: 20%;
    padding: 40px 20px 60px 20px;
    text-align: center;
    background-color: #f3f3f3;

    span {
      font-weight: bold;
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 992px) {
  .feature-item {
    flex: 50%;
  }
}

@media screen and (max-width: 600px) {
  .features-box {
    flex-direction: column;
  }
}

/**
 * Feature Box
 */
.info-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color: #fff;
  font-weight: bold;

  .info-box-item {
    flex: 33.3%;
    padding: 20px;
    text-align: center;
    background-color: #929FB0;

    span {
      font-weight: bold;
      font-size: 20px;
    }

    > div {
      padding: 5px 0px;
    }
  }
}

@media screen and (max-width: 992px) {
  .info-box {
    flex-direction: column;
  }
}

.text-right {
  text-align: right;
}