{
    "extends": [
        "plugin:@wordpress/eslint-plugin/esnext"
    ],
    "env": {
        "browser": true
    },
    "rules": {
        // Other rules...
        "linebreak-style": "off"
      }
}
