// // Font Variables
// $roboto-slab: 'Roboto', serif;   
// $open-sans: 'Open Sans', sans-serif;
// $times-new-roman: 'Times New Roman', Times, serif;
// // gotham!important

// // Colors
// $color-light-blue: #4BABE0;
// $color-dark-blue: #1A628B;
// $color-red: #6B0000;
// $color-primary: #4BABE0;
// $color-gray-1: #54585a;

// // Size
// $breakpoint-tablet: 768px;

// // Element properties
// $body-font: "Helvetica Neue";
// $link-color: #4BABE0;
// $link-underline-color: #4BABE0;
// $link-underline-color2: #6B0000;

// $border-color-1: $color-gray-1;

// $link-color-1: #0b0b0b;

// Font
$main-font: Montserrat, sans-serif;

$post-title-color: #FF7900;
$post-date-background: $post-title-color;