body{
  font-family: 'Times New Roman', Times, serif;
	background-color: #000;
}
.background{
	background-color: #54BFCD;
}
.header-font{
  text-align: center;
  font-size: 40px;
}
/*Banner*/
.img-size{
	width: 100%;
	height:640px;
}
/*Header*/
.menu{
	font-size:13.8px;
	padding-left: 13px;
	font-weight: bold;
	font-family: 'Times New Roman', Times, serif;
}
/*Front-page*/
.text-header{
	text-align: center;
	border: 10px;
}
.text-gioithieu{
	text-align: center;
	border: 2px solid black; /* Đường viền đen với độ dày là 2px */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	font-family: Verdana, Geneva, Tahoma, sans-serif
}
.btn-gioithieu{
	display: flex;
  justify-content: center; /* căn giữa theo chiều ngang */
  align-items: center; 
}
.front-font{
	padding: auto;
	font-family: Verdana, Geneva, Tahoma, sans-serif
}
/*Footer*/
.footer p{
	color: #ffffff;
}
.footer-lienhe{
	color: #ffffff;
	text-align: center;
}
.footer-color p i{
	color: #ffffff;
	text-align: left;
}
.footer-sanpham{
	color: white;
	font-size: 18.5px;
	text-align: center;
	text-decoration: none;
}
.footer-sanpham a:hover{
	font-size:21px;
}
.footer-li{
	text-align:center;
	font-size:25px;
	float: none;
	list-style: none;
	display: inline;
	color: #ffffff;
}
.footer-li li a{
	color: #ffffff;
}
.footer-li li a:hover{
	font-size:29px;
}

/*Slider*/
.item{
	color: black;
	text-decoration: none;
}
/*Page giới thiệu*/
.text-tieude{
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  text-align: center;
	font-family: 'Times New Roman', Times, serif
}

.quytrinh{
	flex-grow: 1;
  position: relative;
}


